<div class='center'>
  <h2>You&rsquo;re riding Ruby on Rails!</h2>
  <%= image_tag 'conductor/welcome-rails.jpeg', alt: 'You are riding Ruby on Rails', width: 600, height: 350 %>      
</div>

<p>Conductor is a Rails engine that lets you do through a web UI what you'd normally do with the rails shell command.</p>


